.ContentBox {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  height: 100%;
  background-color: purple;
  color: white;
  background-image: url(../assets/BG.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 
    0 0 15px 5px #0ff,
    0 0 15px 5px #0ff inset, 
    0 0 3px 3px #fff,
    0 0 3px 3px #fff inset,
    0 0 1px 2px #fff,
    0 0 1px 2px #fff inset,
    0 0 0px 1px #fff,
    0 0 0px 1px #fff inset;
}

.Page {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(81, 0, 128);
  background-image: url(../assets/BG.webp);
  background-size: cover;
}

.Anchor {
  padding-top: 20vh;
  margin-top: -20vh;
}