.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: rgb(73, 18, 105);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14vw;
  color: white;
  font-size: xx-large;
  font-family: monospace;
  box-shadow:  0 0px 6px 1px white, 0 4px 10px 4px #0ff, 0 -4px 2px -2px #0ff inset;
  opacity: 0.9;
}
