/* theme colors */
$black: #1a1a1a;
$gray: #808080;
$light: #f2f2f2;
$white: #ffffff;

/* HTML tag fonts */
$t: 200px;
$subt: 50px;
$h1: 36px;
$h3: 20px;
$p: 20px;
$pv2: 16px;

$tMobile: 100px;
$subtMobile: 25px;
$h1Mobile: 36px;
$pMobile: 16px;

/* margins */
$mNav: 16.389vw;
$m6: 0.417vw;
$m12: 0.833vw;
$m16: 1.111vw;
$m24: 1.667vw;
$m32: 2.222vw;
$m48: 3.333vw;
$m64: 4.444vw;
$m96: 6.667vw;
$m128: 8.889vw;
$m144: 10vw;
$m192: 13.333vw;
$m240: 16.667vw;

$m12Mobile: 3.2vw;
$m16Mobile: 4.267vw;
$m32Mobile: 8.533vw;
$m48Mobile: 12.8vw;
$m64Mobile: 17.067vw;
$m96Mobile: 25.6vw;

/* widths */
$w1: 5.347vw;
$w2: 12.292vw;
$w3: 19.306vw;
$w4: 26.319vw;
$w5: 33.264vw;
$w6: 40.278vw;
$w7: 47.292vw;
$w8: 54.236vw;
$w9: 61.25vw;
$w10: 68.264vw;
$w11: 75.208vw;
$w12: 80.278vw;
$wFull: 82.222vw;

$w1Mobile: 19.733vw;
$w2Mobile: 43.733vw;
$w3Mobile: 67.467vw;
$w4Mobile: 91.467vw;

/* padding - need to be adjusted */
$p1: 3vh;
$p2: 10vh;
$p3: 20vh;
$p4: 40vh;

/* widths */
$faq: 65vw;

/* Exclusive to HackGT 9 */
$title: 180px;
$header: 96px;

$titleIntermediate: 120px;
$headerIntermediate: 57px;

$titleMobile: 55px;
$headerMobile: 48px;
$subHeaderMobile: 24px;

/* HackGT 9 Paddings */
$mid: 20vh;